.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-image: url("../src/rui.jpg");
  background-size: 100%;
  background-position: center top;
}
.caption {
  height: auto;
  width: auto;
  text-align: center;
  padding: 8px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 14pt;
  background-color: rgb(135, 135, 135, 0.35);
  border-radius: 12px;
  color: #eab676;
}
