.home {
  width: 360px;
  height: calc(100vh - 20px);
  margin: 10px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headerBox {
  margin: 5px;
}

.tableBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgb(235, 235, 235);
  margin: 5px;
  padding: 10px 0px;
}

.idBox {
  background-color: rgb(235, 235, 235);
  margin: 5px;
}

.summaryBox {
  margin: 5px;
}
