.container {
  width: 40%;
  text-align: center;
  padding: 10px 5px;
}

.title {
  height: auto;
  background-color: lightblue;
  margin: 10px;
  padding: 4px;
  border-radius: 8px;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.icon-color {
  color: purple;
}
